*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header{
	display:flex;
	flex-flow: row;
	background:#121619;
	height: 7.5vh;
	
}

.header__section{
	flex: 1 1 auto;
}

.header-button{
	display:inline;
	height:100%;
	width:25%;
	border:transparent;
	border-radius:10px;
	margin: 0 0 0 5vh;
	background:#09814a;
	color:white;
}

.header__section-1{

	background:transparent;
	flex:1 1 auto;
	
}
.header__section-2{
	color:white;
	flex: 1 1 auto;
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding:1.5vh;
	
	
}

.header__section-3{
	padding-left: 5vw;
	flex:1 1 auto;
	display: flex;
	justify-content:space-around;
	flex-direction: row-reverse;
	padding-left:25%;
	
	align-items:center;
	
	color:white;
}

.body__element{
	background:#121619;
	display:flex;
	width:100%;
	height:50vh;
}

.body__element-1{
	flex: 0 1 auto;
	
	background:transparent;
	color:white;
	align-items:center;
	position:absolute;
	align-self:center;
	margin-left:10vh;
}

.body__element-2{
	
	flex:1 1 auto;
	background:blue;

}

.body__elemnt-1__other{
	
background:transparent;
}

img{
  object-fit: cover;
  width:100%;
  height:100%;
}



.perritos{
	display:flex;
	width:100%;
	height:50vh;

}

.perritos-1{
	
	display:flex;
	flex:  0 0 50%;
	color:white;
	position: absolute;
	left: 50%;
	align-self:center;
}

.sliders{
	
	width:100%;
	height:50vh;
	background:black;
}

.pcs{
display:flex;
justify-content:space-around;
}
.pc1,.pc2,.pc3{
	background:green;
	flex: 0 0 25%;
	border-radius:5px;
	color:white;
}
 
h1,p,link{
align-items:center;
align-self:center;
}

