*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header{
	display:flex;
	flex-flow: row;
	background:#121619;
	height: 7.5vh;
	
}

.header__section{
	flex: 1 1 auto;
}

.header-button{
	display:inline;
	height:100%;
	width:25%;
	border:transparent;
	border-radius:10px;
	margin: 0 0 0 5vh;
	background:#09814a;
	color:white;
}

.header__section-1{

	background:transparent;
	flex:1 1 auto;
	
}
.header__section-2{
	color:white;
	flex: 1 1 auto;
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding:1.5vh;
	
	
}

.header__section-3{
	padding-left: 5vw;
	flex:1 1 auto;
	display: flex;
	justify-content:space-around;
	flex-direction: row-reverse;
	padding-left:25%;
	
	align-items:center;
	
	color:white;
}

.body__element{
	background:#121619;
	display:flex;
	width:100%;
	height:50vh;
}

.body__element-1{
	flex: 0 1 auto;
	
	background:transparent;
	color:white;
	align-items:center;
	position:absolute;
	align-self:center;
	margin-left:10vh;
}

.body__element-2{
	
	flex:1 1 auto;
	background:blue;

}

.body__elemnt-1__other{
	
background:transparent;
}




.perritos{
	display:flex;
	width:100%;
	height:50vh;

}

.perritos-1{
	
	display:flex;
	flex:  0 0 50%;
	color:white;
	position: absolute;
	left: 50%;
	align-self:center;
}

.sliders{
	
	width:100%;
	height:70vh;
	background:black;
}

.sliders_information{
	margin:1.5% 0 0 3%;
	padding:0 0 0 2vh;
	color:#09814a;
	font-size:2.5vw;
}

.pcs{
display:flex;
justify-content:space-around;
height:50vh;
}
.pc1,.pc2,.pc3{
	margin:1.5% 0 0 0;
	padding:1.5% 1% 0 1%;
	
	height:100%;
	background:green;
	border-radius:5px;
	color:white;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
 
	
}

.pc1_1,.pc2_1,.pc3_1{
	
	
	width:100%;
	height:50%;
	filter: brightness(1.1);
	mix-blend-mode: multiply;
}
 
.pc1_2{
	
	display:flex;
	justify-content:column-reverse;
}

h1,p,link{
align-items:center;
align-self:center;

}

/*Aqui empieza el ultimo slider*/




.carousel{
  margin:2.5% 0 0 0;
	height:50vh;
	width:100%;
	background:#09814a;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contenedor_slider{
	display:flex;
	justify-content:center;
	align-items:center;
}

ul.slider{
  position: relative;
  width: 50vw;
  height: 50vh;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;

}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

img{
  object-fit: cover;
  width:100%;
  height:100%;
}
